<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login and Registration</title>
    <meta charset="utf-8">
  </head>
  <body>

    <h1>Registration</h1>
    <form class="" action="{% url 'login:create' %}" method="post">
      {% csrf_token %}
      <input type="text" name="first_name" placeholder="First Name">
      <input type="text" name="last_name" placeholder ="Last Name">
      <input type="text" name="email" placeholder ="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="confirm" placeholder ="Confirm Password">
      <input type="submit" value="Register">
    </form>

    {% if messages %}
      {% for message in messages %}
        <li>{{message}}</li>
      {% endfor %}
    {% endif %}

    <h1>Login</h1>
    <form class="" action="{% url 'login:login' %}"" method="post">
      {% csrf_token %}
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
