<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Courses Assignment</title>
  <head>
  <body>
    <h3>Add a new course</h3>
    <form class="" action="/process" method="post">
      {% csrf_token %}
      Name: <input type="text" name="name" placeholder="Name Here"><br><br>
      Description: <textarea name="description" rows="4" cols="40"></textarea>
      <input type="submit" value="Add">
    </form>

    <div id="wrapper">
      {% for data in courses %}
      <li>{{data.course_name}}</li>
      <li>{{data.description}}</li>
      <li>{{data.created_at}}</li>
      <li><a href="/delete/{{data.id}}">Remove</a>
      {% endfor %}
  </body>
</html>
